h1 {
    color: #ff0002;
}
h2 {
    font-family: 'Lobster', cursive;
    color: #770077;
    font-size: 22pt;
    text-decoration: none;
}


















tr:nth-child(odd){ 
	background: #b8d1f3;
}
tr:nth-child(even){
	background: #dae5f4;
}













